html, body {
  height: 100%;
  margin: 0;
}

.wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
}

.footer {
  position: absolute;
  bottom: 10px;
  background-color: #f2f2f2;
  width: 100%;
  
}

footer .company-info h2 {
    font-size: 20px;
    margin: 0;
}

footer p {
    font-size: 14px;
    margin: 0;	
}